<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MrDafoe-Regular.ttf</string>
		<string>BodoniFLF-Roman.ttf</string>
		<string>BodoniFLF-Italic.ttf</string>
		<string>Davinci.ttf</string>
		<string>sanfrancisco.ttf</string>
		<string>Carlotte.ttf</string>
		<string>Mignitte.ttf</string>
		<string>Houdient.ttf</string>
		<string>Minimalistic Light.otf</string>
		<string>BodoniLean.ttf</string>
	</array>
</dict>
</plist>
